/* blink */
.blink {
  /* font-size: 240px; */
  color: rgb (0, 137, 226);
  animation: blink 2s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}